<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.sonatype.m2e.webby.launchConfigType">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/eudevfin-dim"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.eclipse.debug.core.source_locator_id" value="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"/>
<stringAttribute key="org.eclipse.debug.core.source_locator_memento" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;sourceLookupDirector&gt;&#13;&#10;&lt;sourceContainers duplicates=&quot;true&quot;&gt;&#13;&#10;&lt;container memento=&quot;&amp;lt;?xml version=&amp;quot;1.0&amp;quot; encoding=&amp;quot;UTF-8&amp;quot; standalone=&amp;quot;no&amp;quot;?&amp;gt;&amp;#13;&amp;#10;&amp;lt;default/&amp;gt;&amp;#13;&amp;#10;&quot; typeId=&quot;org.eclipse.debug.core.containerType.default&quot;/&gt;&#13;&#10;&lt;/sourceContainers&gt;&#13;&#10;&lt;/sourceLookupDirector&gt;&#13;&#10;"/>
<stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/jdk7"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="eudevfin-dim"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.sonatype.m2e.webby.sourcepathProvider"/>
<stringAttribute key="org.sonatype.m2e.webby.containerHome" value=""/>
<stringAttribute key="org.sonatype.m2e.webby.containerId" value="jetty8x"/>
<intAttribute key="org.sonatype.m2e.webby.containerPort" value="8080"/>
<intAttribute key="org.sonatype.m2e.webby.containerTimeout" value="60"/>
<stringAttribute key="org.sonatype.m2e.webby.containerType" value="embedded"/>
<stringAttribute key="org.sonatype.m2e.webby.contextName" value="//"/>
<stringAttribute key="org.sonatype.m2e.webby.logLevel" value="high"/>
</launchConfiguration>
