<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.sonatype.m2e.webby.launchConfigType">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/eudevfin-dim"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.eclipse.debug.core.source_locator_id" value="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"/>
<stringAttribute key="org.eclipse.debug.core.source_locator_memento" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;sourceLookupDirector&gt;&#10;&lt;sourceContainers duplicates=&quot;true&quot;&gt;&#10;&lt;container memento=&quot;&amp;lt;?xml version=&amp;quot;1.0&amp;quot; encoding=&amp;quot;UTF-8&amp;quot; standalone=&amp;quot;no&amp;quot;?&amp;gt;&amp;#10;&amp;lt;default/&amp;gt;&amp;#10;&quot; typeId=&quot;org.eclipse.debug.core.containerType.default&quot;/&gt;&#10;&lt;/sourceContainers&gt;&#10;&lt;/sourceLookupDirector&gt;&#10;"/>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="eudevfin-dim"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.sonatype.m2e.webby.sourcepathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xms256m -Xmx512m -XX:MaxPermSize=256m -Dderby.system.home=/Users/ionut/work/devfin/workspace/derby -Deudevfin.derby.mode=embedded"/>
<stringAttribute key="org.sonatype.m2e.webby.containerHome" value="C:\work\jetty-distribution-9.0.6.v20130930"/>
<stringAttribute key="org.sonatype.m2e.webby.containerId" value="jetty8x"/>
<intAttribute key="org.sonatype.m2e.webby.containerPort" value="8081"/>
<intAttribute key="org.sonatype.m2e.webby.containerTimeout" value="160"/>
<stringAttribute key="org.sonatype.m2e.webby.containerType" value="embedded"/>
<stringAttribute key="org.sonatype.m2e.webby.contextName" value="//"/>
<stringAttribute key="org.sonatype.m2e.webby.logLevel" value="low"/>
</launchConfiguration>
