<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013 Development Gateway.
  ~ All rights reserved. This program and the accompanying materials
  ~ are made available under the terms of the GNU Public License v3.0
  ~ which accompanies this distribution, and is available at
  ~ http://www.gnu.org/licenses/gpl.html
  ~
  ~ Contributors:
  ~    aartimon
  -->
<!DOCTYPE log4j:configuration PUBLIC 
"-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss.SSS} %-5p [%t][%c] %m%n" />
		</layout>
	</appender>

	<!-- Loggers -->
	<logger name="org.springframework.web.context.ContextLoader">
		<level value="info" />
	</logger>

    <logger name="org.springframework.security.web">
        <level value="info" />
    </logger>

    <logger name="org.springframework">
        <level value="info" />
    </logger>

    <logger name="org.apache.wicket">
        <level value="info"/>
    </logger>



	<!-- Root Logger -->
	<root>
		<priority value="debug" />
		<appender-ref ref="console" />
	</root>

</log4j:configuration>
