<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
    <body>
        <wicket:panel>
            <div class="row">   
                <div wicket:id="1extendingAgency"/> 
            </div>
            <div class="row"> 
                <div wicket:id="2projectName"/> 
                <div wicket:id="3implementingOrganization"/>
            </div>
            <div class="row"> 
                <div wicket:id="4startDate"/>
                <div wicket:id="5stopDate"/>
            </div>
            <div class="row"> 
                <div wicket:id="6projectType"/>
                <div wicket:id="7implementingPartners"/>
            </div>
            <div class="row"> 
                <div wicket:id="8geographicPriorities"/>
                <div wicket:id="9thematicAreas"/>
            </div>
            <div class="row"> 
                <div wicket:id="10contactReportingDetails"/>
                <div wicket:id="11contactMonitoringDetails"/>                
            </div>
            <div class="row"> 
                <div wicket:id="12contactReportingEmail"/>
                <div wicket:id="13contactMonitoringEmail"/>    
                
            </div>
            <span wicket:id="feedback">feedback</span>
        </wicket:panel>
    </body>
</html>