<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
    <body>
        <wicket:panel>
            <div class="row">        
                <div wicket:id="22currentDate"/> 
                <div wicket:id="23extendDate"/> 
            </div>
            <div class="row">        
                <div wicket:id="24reason"/> 
                <div wicket:id="25upload"/> 
            </div>
        </wicket:panel>
    </body>
</html>
